{
  "Enable":             true,
  "GUID":               "guid",
  "URI":                "elastic.algorand.com",
  "MinLogLevel":        4,
  "ReportHistoryLevel": 4,
  "LogHistoryDepth":    100,
  "UserName":           "telemetry-v9",
  "Password":           "oq%$FA1TOJ!yYeMEcJ7D688eEOE#MGCu"
}
