{
  "Enable":             true,
  "GUID":               "guid",
  "URI":                "elastic.algorand.com",
  "MinLogLevel":        4,
  "ReportHistoryLevel": 4,
  "LogHistoryDepth":    100,
  "UserName":           "username",
  "Password":           "password"
}
