{
  "Enable":             true,
  "GUID":               "guid",
  "URI":                "elastic.algorand.com",
  "MinLogLevel":        4,
  "ReportHistoryLevel": 4,
  "LogHistoryDepth":    100,
  "UserName":           "telemetry-v10",
  "Password":           "ndn9lNvmoRD46i5gMljBZg"
}
