os: linux
dist: bionic
go_import_path: github.com/algorand/go-algorand
language: shell

# Don't build tags
if: tag IS blank

stages:
  - name: build_commit
    if: NOT (branch =~ /^rel\//) AND type != pull_request
  - name: build_pr
    if: type = pull_request
  - name: build_release
    if: branch =~ /^rel\// AND type != pull_request
  - name: deploy
    if: branch =~ /^rel\// AND type != pull_request
  - name: post_deploy
    if: branch =~ /^rel\// AND type != pull_request

jobs:
  allow_failures:
    - name: External ARM64 Deploy
    - name: External ARM64 Integration Test
    - name: External ARM Build
    - name: External ARM Deploy
    - name: Test Release Builds
  include:
    - stage: build_commit
      os: linux
      script:
        - scripts/travis/build_test.sh

    - stage: build_pr
      os: linux
      name: Ubuntu AMD64 Build
      script:
        - scripts/travis/build_test.sh
    - # same stage, parallel job
      os: linux
      name: Ubuntu AMD64 Integration Test
      script:
        - ./scripts/travis/integration_test.sh
    - # same stage, parallel job
      name: External ARM64 Build
      os: linux
      env:
        - BUILD_TYPE: "external_build"
        - TARGET_PLATFORM: "linux-arm64"
      addons:
        apt:
          packages:
            - awscli
      script:
        - scripts/travis/external_build.sh ./scripts/travis/build_test.sh
    - # same stage, parallel job
      name: External ARM64 Integration Test
      os: linux
      env:
        - BUILD_TYPE: "external_build"
        - TARGET_PLATFORM: "linux-arm64"
      addons:
        apt:
          packages:
            - awscli
      script:
        - scripts/travis/external_build.sh ./scripts/travis/integration_test.sh
    - # same stage, parallel job
      os: osx
      osx_image: xcode11
      name: MacOS AMD64 Build
      script:
        - scripts/travis/build_test.sh
    - # same stage, parallel job
      os: osx
      osx_image: xcode11
      name: MacOS AMD64 Integration Test
      script:
        - ./scripts/travis/integration_test.sh
    - # same stage, parallel job
       os: windows
       name: Windows x64 Build
       cache:
         directories:
           - $HOME/AppData/Local/Temp/chocolatey
           - /C/tools/msys64
       script:
         - $mingw64 scripts/travis/build_test.sh

    - stage: build_release
      os: linux
      name: Ubuntu AMD64 Build
      script:
        - ./scripts/travis/build_test.sh
    - # same stage, parallel job
      os: linux
      name: Ubuntu AMD64 Integration Test
      script:
        - ./scripts/travis/integration_test.sh
    - # same stage, parallel job
      os: osx
      osx_image: xcode11
      name: MacOS AMD64 Build
      script:
        - scripts/travis/build_test.sh
    - # same stage, parallel job
      name: External ARM64 Integration Test
      os: linux
      env:
        - BUILD_TYPE: "external_build"
        - TARGET_PLATFORM: "linux-arm64"
      addons:
        apt:
          packages:
            - awscli
      script:
        - scripts/travis/external_build.sh ./scripts/travis/integration_test.sh
    - # same stage, parallel job
       os: windows
       name: Windows x64 Build
       cache:
         directories:
           - $HOME/AppData/Local/Temp/chocolatey
           - /C/tools/msys64
       script:
         - $mingw64 scripts/travis/build_test.sh

    - stage: deploy
      name: Ubuntu Deploy
      os: linux
      script:
        - scripts/travis/deploy_packages.sh
        - scripts/travis/test_release.sh
    - # same stage, parallel job
      name: MacOS Deploy
      os: osx
      osx_image: xcode11
      script: scripts/travis/deploy_packages.sh
    - # same stage, parallel job
      name: External ARM64 Deploy
      os: linux
      env:
        - BUILD_TYPE: "external_build"
        - TARGET_PLATFORM: "linux-arm64"
      addons:
        apt:
          packages:
            - awscli
      script:
        - scripts/travis/external_build.sh ./scripts/travis/deploy_packages.sh
    - # same stage, parallel job
      name: External ARM Deploy
      os: linux
      env:
        - BUILD_TYPE: "external_build"
        - TARGET_PLATFORM: "linux-arm"
      addons:
        apt:
          packages:
            - awscli
      script:
        - scripts/travis/external_build.sh ./scripts/travis/deploy_packages.sh

# Don't rebuild libsodium every time
cache:
  directories:
    - crypto/lib

before_install:
- |-
   case $TRAVIS_OS_NAME in
   linux)
     # Disable sometimes-broken sources.list in Travis base images
     sudo rm -vf /etc/apt/sources.list.d/*
     ;;
   windows)
     [[ ! -f C:/tools/msys64/msys2_shell.cmd ]] && rm -rf C:/tools/msys64
     choco uninstall -y mingw
     choco upgrade --no-progress -y msys2
     export msys2='cmd //C RefreshEnv.cmd '
     export msys2+='& set MSYS=winsymlinks:nativestrict '
     export msys2+='& C:\\tools\\msys64\\msys2_shell.cmd -defterm -no-start'
     export mingw64="$msys2 -mingw64 -full-path -here -c "\"\$@"\" --"
     export msys2+=" -msys2 -c "\"\$@"\" --"
     $msys2 pacman --sync --noconfirm --needed mingw-w64-x86_64-toolchain
     ## Install more MSYS2 packages from https://packages.msys2.org/base here
     taskkill //IM gpg-agent.exe //F  # https://travis-ci.community/t/4967
     export PATH=/C/tools/msys64/mingw64/bin:$PATH
     export MAKE=mingw32-make  # so that Autotools can find it
     ;;
   esac

before_cache:
- |-
   case $TRAVIS_OS_NAME in
   windows)
     # https://unix.stackexchange.com/a/137322/107554
     $msys2 pacman --sync --clean --noconfirm
     ;;
   esac

addons:
  apt:
    packages:
      - libboost-all-dev
      - fakeroot
      - rpm
      - python3-venv
      - libssl-dev
      - libffi-dev
  artifacts:
    s3_region: "us-east-1"
    paths:
      - $(git ls-files -o | grep -v crypto/libs | grep -v crypto/copies | grep -v crypto/libsodium-fork | grep -v crypto/lib/ | grep -v ^gen/ | grep -v swagger.json.validated | tr "\n" ":")

notifications:
  slack:
    secure: lBomhenfQvDzpUGxLadga188zavtGRr05GVWI6iI8ll/uwXewij8ginQ716Axg3pJvvRMNCuTNEmg0+fVlHf0JxTG3qWG35qOUexAHGcmimPD4ugmVkufua8Oc8Nl1LRSdWvbwIKvrAU1HDA37M5tCdEOm+Sf/OL72iVWbXhlHRvhdeiKHkbkcpI/15dOH4RpXuvPeYBrgcB2Ixs7gTSVyIAU458aT0JORu7expElQ+iBP9Kqze1V4dvjJyzHTgE01z2nyAm2Xpko447y//fYX2e20iDBE5S/GukaK/TeB3pD+FoC+Z2R7Gg1qA7a/gdGFbVgP12zWmzNaKVwY1YOvx8IIwP13XutioAE7bQbnHI1zGlQ+jxk3odWKZPhZSN/YvWD3i7g/xVksaTo++zwon2UlZ7x8LmKg1kOMeA3o2TUlzjQrwZZ4cB+4HqYHEqVdsSAadaMhKK82XE1OtGImdrIX1Y/02X2F/myJXwaE4Ap8smULHWGghCL/ALad+hdyE0K4/2SYDcoaOONgX9+VgaSEtYDO00Bt4/GMcuM+gwILsfCA9ZQuxCgIFEL1QWwDud8aGU1qF20yaimDlstlLnZXsv3Oli6r/CEEUVXltI5dkJyRd/jTlqWGjFGL8agGg34EPLP24Vn4h4QcIzoMfGWXkz2yrd6i0fvMAPXds=
