div.hash {
    font-family:monospace;
}

div.fname {
    font-size:120%;
}

section {
    margin-bottom: 3em;
}

table {
    border-collapse: collapse;
}

tr.spacer td {
    border: 0;
    padding: 20px 0;
}

th {
    background-color: #DDD;
    border: 2px inset gray;
    padding: 10px;
}

td {
    border: 2px inset gray;
    padding: 1px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
}

td:first-child {
    text-align: left;
}

