[Install]
WantedBy=multi-user.target

[Unit]
Description=Buildhost service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
