gtxn 0 TypeEnum
int 1
==
gtxn 0 Fee
int TMPL_FEE
<
gtxn 0 CloseRemainderTo
addr TMPL_OWN
==
global GroupSize
int 3
<
global GroupSize
int 1
==
bnz label2
gtxn 0 Amount
int TMPL_MINTRD
>
gtxn 1 TypeEnum
int 4
==
gtxn 1 XferAsset
int TMPL_ASSET
==
gtxn 1 AssetReceiver
addr TMPL_OWN
==
gtxn 1 AssetSender
global ZeroAddress
==
int TMPL_SWAPN
gtxn 0 Amount
*
int TMPL_SWAPD
gtxn 1 AssetAmount
*
<
&&
&&
&&
&&
&&
int 1
bnz label3
pop // check bug workaround
label2:
gtxn 0 FirstValid
int TMPL_TIMEOUT
>
gtxn 0 Receiver
global ZeroAddress
==
&&
label3:
&&
&&
&&
&&