txn TypeEnum
int 1
==
global GroupSize
int 2
==
gtxn 0 Sender
gtxn 1 Sender
==
gtxn 0 CloseRemainderTo
global ZeroAddress
==
gtxn 0 Receiver
addr TMPL_RCV1
==
gtxn 1 CloseRemainderTo
global ZeroAddress
==
gtxn 1 Receiver
addr TMPL_RCV2
==
gtxn 0 Fee
int TMPL_FEE
<
gtxn 1 Fee
int TMPL_FEE
<
gtxn 0 Amount
gtxn 0 Amount
gtxn 1 Amount
+
int TMPL_RATN
*
int TMPL_RATD
/
==
gtxn 0 Amount
int TMPL_MINPAY
>
&&
&&
&&
&&
&&
&&
&&
&&
&&
txn CloseRemainderTo
addr TMPL_OWN
==
txn Receiver
global ZeroAddress
==
txn Fee
int TMPL_FEE
<
txn FirstValid
int TMPL_TIMEOUT
>
&&
&&
&&
||
&&