test_dilithium2
test_dilithium2aes
test_dilithium3
test_dilithium3aes
test_dilithium5
test_dilithium5aes
test_vectors2
test_vectors2aes
test_vectors3
test_vectors3aes
test_vectors5
test_vectors5aes
test_speed2
test_speed2aes
test_speed3
test_speed3aes
test_speed5
test_speed5aes
test_mul
