name: "Build Windows"
on:
  pull_request:
jobs:
  build-windows:
    runs-on: windows-2022
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Install msys2
        uses: msys2/setup-msys2@v2
        with:
          update: true
          path-type: inherit
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install golang
        uses: actions/setup-go@v3
        with:
          go-version: "1.17.13"
      - name: Restore libsodium from cache
        id: cache-libsodium
        uses: actions/cache@v3
        with:
          path: crypto/libs
          key: libsodium-fork-v2-${{ runner.os }}-${{ hashFiles('crypto/libsodium-fork/**') }}
      - name: Build
        run: |
          export ALGORAND_DEADLOCK=enable
          export SKIP_GO_INSTALLATION=True
          scripts/travis/build_test.sh
      # - name: Upload artifact to Github
      #   uses: actions/upload-artifact@v2
      #   with:
      #     if-no-files-found: error
      #     path: $(git ls-files -o | grep -v crypto/libs | grep -v crypto/copies | grep -v crypto/libsodium-fork | grep -v crypto/lib/ | grep -v ^gen/ | grep -v swagger.json.validated | tr "\n" ":")
      - name: Slack Notification
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        run: |
          curl -X POST --data-urlencode "payload={\"text\": \"Nightly windows build test on Github failed. ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }} \"}" $SLACK_WEBHOOK
        if: ${{ failure() && (contains(github.base_ref, 'rel/nightly') || contains(github.base_ref, 'rel/beta') || contains(github.base_ref, 'rel/stable')) }}
