[Unit]
Description=Algorand daemon for mainnet in /var/lib/algorand
After=network.target

[Service]
ExecStart=/usr/bin/algod -d /var/lib/algorand
PIDFile=/var/lib/algorand/algod.pid
User=algorand
Group=algorand
Restart=always
RestartSec=5s
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
